<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>Hell chat</title>
	<link rel="stylesheet" href="css/bootstrap.css" media="all" />
	<link rel="stylesheet" href="css/style.css" media="all" />
	<link rel="shortcut icon" href="../assets/ico/favicon.ico">
</head>
<body>
	<div class="container">
		<%- body %>
	</div> <!-- /container -->
</body>
</html>