<form class="form-signin" name='login' action='/login' method='get'>
	<h2 class="form-signin-heading"><%= title %></h2>
	<%- messages %>
	<input type="text" name='login' class="input-block-level" placeholder="Login">
	<input type="password" name='pass' class="input-block-level" placeholder="Password">
	<div class="clearfix">
		<a href="/registration" type="button" class="btn btn-link pull-right">Registration</a>
	</div>
	<button class="btn btn-large btn-primary pull-right" type="submit">Sign in</button>
</form>